

data/geneTSSFromMGT_v1.0.txt
data/geneTSSFromMGT_v1.0.txt.bz2
data/geneTSSmiddleEndFromMGT_v2.0.txt
data/4Jonas_writeTable_dataFrameTADmodified_Rao_GM12878_v4.0.txt
results/*

.Rproj.user
.Rhistory
